{#

Description text for the Page Notifications.

#}

{% set custom_access = path('page_notifications.custom_access') %}
{% set permissioned = path('page_notifications.permissioned') %}
{% set route_only = path('page_notifications.route_only') %}
{% set tabs = path('page_notifications.tabs') %}
{% set use_url_arguments = path('page_notifications.use_url_arguments') %}
{% set title_callbacks = path('page_notifications.title_callbacks') %}
{% set placeholder_argument = path('page_notifications.placeholder_argument') %}
{% set path_override = path('page_notifications.path_override') %}

{% trans %}

<p>This page is displayed by the simplest (and base) menu example. Note that
the title of the page is the same as the link title. There are a number of
examples here, from the most basic (like this one) to extravagant mappings of
loaded placeholder arguments. Enjoy!</p>

<ul>
    <li><a href={{ custom_access }}>Custom Access Notifications</a></li>
    <li><a href={{ permissioned }}>Permissioned Notifications</a></li>
    <li><a href={{ route_only }}>Route only Notifications</a></li>
    <li><a href={{ tabs }}>Tabs</a></li>
    <li><a href={{ use_url_arguments }}>URL Arguments</a></li>
    <li><a href={{ title_callbacks }}>Dynamic title</a></li>
    <li><a href={{ placeholder_argument }}>Placeholder Arguments</a></li>
    <li><a href={{ path_override }}>Path Override</a></li>
</ul>

{% endtrans %}
